# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
NemoSolution/Nemo/Nemo.suo
NemoSolution/Nemo/Nemo.sln.docstates.suo
NemoSolution/Nemo/packages
NemoSolution/Nemo/packages/*
NemoSolution/Nemo/Nemo.v11.suo
NemoSolution/Nemo/.vs/*

*.nupkg
NemoSolution/Nemo/.vs/*
NemoSolution/Nemo/.vs/Nemo/v15/.suo
