<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="DbConnection" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
